.doctorForm{
    &__container{
        margin: 0;
        background-color: #cfd4fe;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
   
}