.loginForm {
    margin-top: 2rem;
    padding-left: 4rem;
    &__input {
        width: 80%;
        border-radius: 30%;
    }
    &__text{
        font-size: 1.5rem;
        padding: 1% 0rem 11% 30%;
    }
    &__gbutton{
        margin-left: 25% !important;
        margin-bottom: 2rem !important;
    }
    &__button {
        background-color: #ff6161;
        border: none;
        padding: 1rem;
        border-radius: 35%;
        color: white;
        margin-top: 0.6rem;
    }
    &__button:focus {
        outline: none;
        background-color: #ffbcbc;
    }
    &__link {
        padding-top: 0.4rem;
        padding-left: 30%;
        margin-bottom: -4rem;
    }
    &__input2 {
        width: 80%;
    }
}
