.doctorRegisterForm{
    &__heading{
        font-size: 1rem;
    }
    &__button{
        margin-top: 1.5rem !important;
        margin-right: 1rem;
      height: 3rem;
    }
}

.ui.form{
    width: 60rem;
}