.container {
    margin: 0;
    background-image: linear-gradient(to right bottom, #f3f4f4, #f1bd9ad8);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register {
    background-color: white;
    width: 90%;
    height: 85%;
    display: grid;
    grid-template-columns: 60% 40%;
    border-radius: 2.5rem;
    overflow: hidden;
    box-shadow: 0 5rem 8rem rgba(black, 0.2);
    &__signup {
        display: flex;
        flex-direction: column;

        &--form {
            height: 70%;
        }
    }

    &__image {
        width: 100%;
        height: 100%;
    }
}
